<h3 class="text-center">Cancer Treatment Requested</h3>
<p> Please select what the application is for:</p>
<div class="custom-control custom-radio custom-control-inline"  [formGroup]="parentForm">
    <input type="radio" class="custom-control-input" id="cancerSurgery" value="Surgery" name="cancerTreatmentSelector"
       (click)="setradio('false')"  [formControlName]="'cancerTreatmentSelector'">
    <label class="custom-control-label" for="cancerSurgery">Surgery</label>
</div>
<div class="custom-control custom-radio custom-control-inline" [formGroup]="parentForm">
    <input type="radio" class="custom-control-input" id="cancerRadiation" value="Radiation"
        name="cancerTreatmentSelector" (click)="setradio('false')"  [formControlName]="'cancerTreatmentSelector'">
    <label class="custom-control-label" for="cancerRadiation">Radiation</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="cancerChemo" name="cancerTreatmentSelector"
        value="Chemotherapy" (click)="setradio('Chemotherapy')">
    <label class="custom-control-label" for="cancerChemo">Chemotherapy</label>
</div>

<div *ngIf="isSelected('Chemotherapy')">
    <div class="form-group col-md-6" [formGroup]="parentForm">
        <label for="cancerChemoSpecification">Speicfy</label>
        <input type="text" class="form-control" id="cancerChemoSpecification" placeholder="Chemotherapy Speicfy" [formControlName]="'cancerTreatmentSelector'">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-12" [formGroup]="parentForm">
        <label for="cancerNamesOfPhysicans">Names of all the other Ontario physicians (including specialists contacted
            at the nearest Regional Cancer Centre) consulted in the past 6-12 months concerning this condtion listed
            above</label>
        <input type="text" class="form-control" id="cancerNamesOfPhysicans"
            placeholder="Names of all the other Ontario physicians" [formControlName]="'cancerNamesOfPhysicans'">
    </div>

    <div class="form-row" [formGroup]="parentForm">
    <div class="form-group col-md-12">
        <label for="cancerDocumentation"> Please Attach copies of all relevant documentation and consultation letters</label>
        <input type="file" class="form-control-file" id="cancerDocumentation" [formControlName]="'cancerDocumentation'">
    </div>
