<h3 class="text-center">Bariatric Surgery - Treatment Requested</h3>
<span>Has your patient been assesed by an Ontario Bariatric Regional Assesment and Treamtent Centre?</span>
<div class="form-row" [formGroup]="parentForm">
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="bariatrcTreatmentYes" name="bariatrcTreatment" value="Yes"
            [formControlName]="'bariatrcTreatment'">
        <label class="custom-control-label" for="bariatrcTreatmentYes">Yes</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="bariatrcTreatmentNo" name="bariatrcTreatment"
            value="No" [formControlName]="'bariatrcTreatment'">
        <label class="custom-control-label" for="bariatrcTreatmentNo">No</label>
    </div>

</div>

<div class="form-row" [formGroup]="parentForm">
    <div class="form-group col-md-12">
        <label for="bariatricProcedure"> Specify bariatric procedure for which prior approval is requested (Note: some
            bariatic procedures are not insured.)</label>
        <input type="text" class="form-control" id="bariatricProcedure" placeholder="bariatric procedure"
            [formControlName]="'bariatricProcedure'">
    </div>
</div>

<p> Patients Height:</p>
<div class="form-row" [formGroup]="parentForm">

    <div class="form-group col-md-6">


        <input type="text" class="form-control" id="bariaticFt" placeholder="Ft" [formControlName]="bariaticFt">
        <label for="bariaticFt">Ft</label>

    </div>
    <div class="form-group col-md-3">
        <input type="text" class="form-control" id="bariaticIn" placeholder="In" [formControlName]="bariaticIn">
        <label for="bariaticIn">In</label>
    </div>
    <div class="form-group col-md-3">

        <input type="text" class="form-control" id="bariaticCM" placeholder="CM"
            [formControlName]="'bariaticCM'">
        <label for="bariaticCM">CM</label>
    </div>


</div>

<span> Patients Weight:</span>
<div class="form-row" [formGroup]="parentForm">
    <div class="form-group col-md-6">

        <input type="text" class="form-control" id="bariaticlb" placeholder="Lb" [formControlName]="bariaticlb">
        <label for="bariaticlb">Lb</label>
    </div>
    <div class="form-group col-md-6">

        <input type="text" class="form-control" id="bariaticKg" placeholder="Kg" [formControlName]="bariaticKg">
        <label for="bariaticKg">Kg</label>
    </div>
</div>


<div class="form-row" [formGroup]="parentForm">
    <div class="form-group col-md-12">
        <label for="bariatricMorbid"> Patient's co-morbid conditions (attach copies of relevent documentation)</label>
        <input type="text" class="form-control" id="bariatricMorbid" placeholder="Patient's co-morbid conditions"
            [formControlName]="'bariatricMorbid'">
        <input type="file" class="form-control-file" id="bariatricMorbidFile"
            [formControlName]="'bariatricMorbidFile'">
    </div>
</div>

<div class="form-row" [formGroup]="parentForm">
    <div class="form-group col-md-12">
        <label for="bariatricCondtion"> Does your patient currently suffer from any condtion (such as depression or
            cardiovascular disease) that could affect his or her suitability for surgery? Please explain.</label>
        <input type="text" class="form-control" id="bariatricCondtion"
            placeholder="Patient's conditions that could affect his or her suitability for surgery"
            [formControlName]="'bariatricCondtion'">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-12" [formGroup]="parentForm">
        <label for="bariatricConsulted"> Names of all other Ontario physicains (including specialists) consulted in the
            past 6-12 months concerning this condition listed above (attach list if necessary). Please attach copies
            of all relevant documentation and consultation letters.</label>
        <input type="text" class="form-control" id="bariatricConsulted"
            placeholder="Names of all other Ontario physicains (including specialists)"
            [formControlName]="'bariatricConsulted'">
        <input type="file" class="form-control-file" id="bariatricConsultedFile"
            [formControlName]="'bariatricConsultedFile'">
    </div>