<h3 class="text-center">Treatment - General Information</h3>
<div class="form-row" [formGroup]="parentForm">
    <div class="form-group col-md-8">
        <label for="treatmentInputDiagnosis">Clinical Diagnosis (condition for which treatment is sought)</label>
        <input type="text" class="form-control" id="treatmentInputDiagnosis" placeholder="Clinical Diagnosis" [formControlName]="'treatmentInputDiagnosis'">
    </div>

    <div class="form-group col-md-4">
        <label for="treatmentInputDiagnosis">Diagonistic Code</label>
        <input type="text" class="form-control" id="treatmentInputDiagnosis" placeholder="###" maxlength="3" [formControlName]="'treatmentInputCode'">
    </div>

</div>

<div class="form-group col-md-16" [formGroup]="parentForm">
    <label for="treatmentServiceType">Application is for</label>
    <select id="treatmentServiceType" class="form-control" [formControlName]="'treatmentServiceType'" >
        <option selected disabled>Choose...</option>
        <option>Inpatient Services</option>
        <option>Outpatient Services</option>
    </select>
</div>

<div class="form-row" [formGroup]="parentForm">

    <div class="form-group col-md-3">
        <label for="treatmentHosptialStay">Days anticipated for hospitalization</label>
        <input type="number" class="form-control" id="treatmentHosptialStay" placeholder="0" [formControlName]="'treatmentHosptialStay'">
    </div>

    <div class="form-group col-md-3">
        <label for="treatmentAdmissionDate">Anticipated admisson date</label>
        <input type="date" class="form-control" id="treatmentAdmissionDate" placeholder="0" [formControlName]="'treatmentAdmissionDate'">
    </div>

    <div class="form-group col-md-3">
        <label for="treatmentOOCConsult">Date of OOC Consultation</label>
        <input type="date" class="form-control" id="treatmentOOCConsult" placeholder="0" [formControlName]="'treatmentOOCConsult'">
    </div>

    <div class="form-group col-md-3">
        <label for="treatmentSurgeryDate">Date of Surgery</label>
        <input type="date" class="form-control" id="treatmentSurgeryDate" placeholder="0" [formControlName]="'treatmentSurgeryDate'">
    </div>

</div>

<div class="form-row" [formGroup]="parentForm">
    <div class="form-group col-md-12">
        <label for="treatmentProposedTreatment">Proposed treatment and/or procedure for which prior approval is
            requested</label>
        <input type="email" class="form-control" id="treatmentProposedTreatment" placeholder="Treatment/procedure" [formControlName]="'treatmentProposedTreatment'">
        <p>Have you previously requested and/or obtained this service out of country?</p>
    </div>


    <div class="form-row" [formGroup]="parentForm">

        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="treatmentOutOfCountryNo" name="treatmentOutOfCountry"
                value="No"  [formControlName]="'treatmentOutOfCountry'">
            <label class="custom-control-label" for="treatmentOutOfCountryNo">No</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="treatmentOutOfCountryYes" name="treatmentOutOfCountry"
                value="Yes"  [formControlName]="'treatmentOutOfCountry'">
            <label class="custom-control-label" for="treatmentOutOfCountryYes">Yes</label>
        </div>
    </div>
    <div class="form-group col-md-10" [formGroup]="parentForm">
        <label for="treatmentPreviousRequest">Have you previously requested and/or obtained this service out of
            country?</label>
        <input type="text" class="form-control" id="treatmentPreviousRequest"
            placeholder="Previously Requested/Obtained" [formControlName]="'treatmentPreviousRequest'">
    </div>

    <div class="form-row" [formGroup]="parentForm">
        <div class="form-group col-md-12">
            <label for="treatmentCardiacCare">If this request is for cardiac care treatment, provide the name of the
                person contacted at the Cardiac Care Network of Ontario, 416 512-7472</label>
            <input type="text" class="form-control" id="treatmentCardiacCare"
                placeholder="Name of the person contacted at the Cardiac Care Network of Ontario" [formControlName]="'treatmentCardiacCare'">
        </div>