<nav class="navbar navbar-expand-md navbar-light font-weight-bold"  style="background-color:#359ED0;">
        <div class="w-100 order-1 order-md-0 ">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"  routerLink="/home" routerLinkActive="active" >Home</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" href="#"  routerLink="/search-form" routerLinkActive="active">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/ooc-pa-form" routerLinkActive="active">Form</a>
                </li>
                
            </ul>
        </div>
      
            <img src="./assets/img/logo.png" class="img-fluid mx-auto" alt="Goverment Of Ontario" style="width:15em;">
            
     
        <div class="navbar-collapse  w-100 order-3">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                   
                </li>
                <li class="nav-item">
                    
                </li>
            </ul>
        </div>
    </nav>
    <br>
 