<h3 class="text-center">Treatment Availability</h3>
<div class="form-group col-md-12">
    <span> Is this treatment generally accepted in Ontario as appropriate for a person in these medical circumstances?
    </span>
    <div class="custom-control custom-radio custom-control-inline" [formGroup]="parentForm">
        <input type="radio" class="custom-control-input" id="treatmentAppropriateYes" value="yes"
            name="treatmentAppropriate" [formControlName]="'treatmentAppropriate'">
        <label class="custom-control-label" for="treatmentAppropriateYes">Yes</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline" [formGroup]="parentForm">
        <input type="radio" class="custom-control-input" id="treatmentAppropriateNo" value="no"
            name="treatmentAppropriate" [formControlName]="'treatmentAppropriate'">
        <label class="custom-control-label" for="treatmentAppropriateNo">No</label>

    </div>
    <br>
    <br>

    <span> Is this treatment performed in Ontario by an identical or equivalent procedure </span>
    <div class="custom-control custom-radio custom-control-inline" [formGroup]="parentForm">
        <input type="radio" class="custom-control-input" id="treatmentEquivalenteYes" value="yes"
            name="treatmentEquivalente" [formControlName]="'treatmentEquivalente'">
        <label class="custom-control-label" for="treatmentEquivalenteYes">Yes</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline" [formGroup]="parentForm">
        <input type="radio" class="custom-control-input" id="treatmentEquivalenteNo" value="no"
            name="treatmentEquivalente" [formControlName]="'treatmentEquivalente'">
        <label class="custom-control-label" for="treatmentEquivalenteNo">No</label>

    </div>
    <br>
    <br>
    <div class="form-row" [formGroup]="parentForm">
        <div class="form-group col-md-12">
            <label for="treatmentPerformed">if "Yes" where is this service performed in Ontario?</label>
            <input type="text" class="form-control" id="treatmentPerformed" placeholder="service performed"
                [formControlName]="'treatmentPerformed'">
        </div>
    </div>
    <p>Is this treatment required out of Canada to avoid a delay in obtaining the treatment in Ontario that would:</p>
    <div class="form-group col-md-12">
        <span> A) result in death? </span>
        <div class="custom-control custom-radio custom-control-inline" [formGroup]="parentForm">
            <input type="radio" class="custom-control-input" id="resultInDeathYes" value="yes"
                name="resultInDeath" [formControlName]="'resultInDeath'">
            <label class="custom-control-label" for="resultInDeathYes">Yes</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline" [formGroup]="parentForm">
            <input type="radio" class="custom-control-input" id="resultInDeathNo" value="no"
                name="resultInDeath" [formControlName]="'resultInDeath'">
            <label class="custom-control-label" for="resultInDeathNo">No</label>
        </div>

        <span>B) Result in medically significant irrverisable tissue damage? </span>
        <div class="custom-control custom-radio custom-control-inline" [formGroup]="parentForm">
            <input type="radio" class="custom-control-input" id="treatmentTissueDamageYes" value="yes"
                name="treatmentTissueDamage" [formControlName]="'treatmentTissueDamage'">
            <label class="custom-control-label" for="treatmentTissueDamageYes">Yes</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline" [formGroup]="parentForm">
            <input type="radio" class="custom-control-input" id="treatmentTissueDamageNo" value="no"
                name="treatmentTissueDamage" [formControlName]="'treatmentTissueDamage'">
            <label class="custom-control-label" for="treatmentTissueDamageNo">No</label>
        </div>
    </div>
    <div class="form-row" [formGroup]="parentForm">
        <div class="form-group col-md-12">
            <label for="treatmentRequired">If "Yes" to either of the above, how soon is treatment required?</label>
            <input type="text" class="form-control" id="treatmentRequired" placeholder="how soon is treatment required?"
                [formControlName]="'treatmentRequired'">
        </div>
    </div>

    <div class="form-row" [formGroup]="parentForm">
        <div class="form-group col-md-12">
            <label for="treatmentDamageDelay">If tissue damage is reasonably expected  result from delay, describe the
                type of damage:</label>
            <input type="text" class="form-control" id="treatmentDamageDelay" placeholder="expected  result from delay"
                [formControlName]="'treatmentDamageDelay'">
        </div>
    </div>

    <div class="form-row" [formGroup]="parentForm">
        <div class="form-group col-md-8">
            <label for="treatmentPerformed">Name of physican(s) contacted to determine availability of
                treatment:</label>
            <input type="text" class="form-control" id="treatmentPhysican" placeholder="Name of physican(s) contacted"
                [formControlName]="'treatmentPhysican'">
        </div>
        <div class="form-group col-md-4" [formGroup]="parentForm">
            <label for="treatmentLength">Estimated length of waiting in Ontario?</label>
            <input type="number" class="form-control" id="treatmentLength" placeholder="# Of Days"
                [formControlName]="'treatmentLength'">
        </div>

    </div>
    <p>If treatment is not availabile in Ontario:</p>
    <span>Is treatment generally accepted in Ontario as appropriate for a person in these medical circumstances? </span>
    <div class="custom-control custom-radio custom-control-inline" [formGroup]="parentForm">
        <input type="radio" class="custom-control-input" id="treatmentAcceptedYes" value="yes"
            name="treatmentAccepted" [formControlName]="'treatmentAccepted'">
        <label class="custom-control-label" for="treatmentAcceptedYes"> Yes</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline" [formGroup]="parentForm">
        <input type="radio" class="custom-control-input" id="treatmentAcceptedNo" value="no"
            name="treatmentAccepted" [formControlName]="'treatmentAccepted'">
        <label class="custom-control-label" for="treatmentAcceptedNo">No</label>

    </div>
    <br>
    <br>
    <span>Is this treatment generally accepted as experminatal in Ontario? </span>
    <div class="custom-control custom-radio custom-control-inline" [formGroup]="parentForm">
        <input type="radio" class="custom-control-input" id="treatmentExperminatalYes" value="yes"
            name="treatmentExperminatal" [formControlName]="'treatmentExperminatal'">
        <label class="custom-control-label" for="treatmentExperminatalYes"> Yes</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline" [formGroup]="parentForm">
        <input type="radio" class="custom-control-input" id="treatmentExperminatalNo" value="no"
            name="treatmentExperminatal" [formControlName]="'treatmentExperminatal'">
        <label class="custom-control-label" for="treatmentExperminatalNo">No</label>

    </div>
    <br>
    <br>
    <span>Is this treatment performed in Ontario by an identical or equivalent procedure? </span>
    <div class="custom-control custom-radio custom-control-inline" [formGroup]="parentForm">
        <input type="radio" class="custom-control-input" id="treatmentEquivalenteYes2" value="yes"
            name="treatmentEquivalente2" [formControlName]="'treatmentEquivalente2'">
        <label class="custom-control-label" for="treatmentEquivalenteYes2"> Yes</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline" [formGroup]="parentForm">
        <input type="radio" class="custom-control-input" id="treatmentEquivalenteNo2" value="no"
            name="treatmentEquivalente2" [formControlName]="'treatmentEquivalente2'">
        <label class="custom-control-label" for="treatmentEquivalenteNo2">No</label>

    </div>
    <br>
    <br>


    <div class="form-group" [formGroup]="parentForm">
        <label for="treatmentDetails">Please provide details if this treatment is not performed in Ontario
            (include names of physicans and/or health facililites contacted in Ontario to determine wether treatment is
            performed):</label>
        <textarea class="form-control" id="treatmentDetails" rows="3" [formControlName]="'treatmentDetails'"></textarea>
    </div>

    <div class="form-group" [formGroup]="parentForm">
        <label for="treatmentFollowUp">For patients requring ongoing long-term care, please provide details
            relative to your short and long-term plans for follow up care to be provided in Ontario should payment
            out-of-country treatment be approved:</label>
        <textarea class="form-control" id="treatmentFollowUp" rows="3" [formControlName]="'treatmentFollowUp'"></textarea>
    </div>