<form [formGroup]="parentForm" (ngSubmit)="onSubmit($event)" novalidate>
  <span> Is the OOC treatment required as a result of a work-releated accident? </span>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="inputWorkRelatedYes" value="true" name="workRelated"
      [formControlName]="'workRelated'" (click)="setradioRequired('true')" >
    <label class="custom-control-label" for="inputWorkRelatedYes">Yes</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="inputWorkRelatedNo" value="false" name="workRelated"
      [formControlName]="'workRelated'" (click)="setradioRequired('true')" >
    <label class="custom-control-label" for="inputWorkRelatedNo">No</label>

  </div>


  <br>
  <br>
  <div *ngIf="isSelectedRequired('true')">
    <div class="custom-control custom-radio custom-control-inline" novalidate>
      <input type="radio" class="custom-control-input" id="inputCancerSelector" name="treatment"
        value="inputCancerSelector" (click)="setradio('inputCancerSelector')" [formControlName]="'treatment'">
      <label class="custom-control-label" for="inputCancerSelector">Cancer Treatment</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="inputSurgicalSelector" name="treatment"
        value="inputSurgicalSelector" (click)="setradio('inputSurgicalSelector')" [formControlName]="'treatment'">
      <label class="custom-control-label" for="inputSurgicalSelector">Surgical Procedure</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="inputBariatricSurgerySelector" name="treatment"
        value="inputBariatricSurgerySelector" (click)="setradio('inputBariatricSurgerySelector')"
        [formControlName]="'treatment'">
      <label class="custom-control-label" for="inputBariatricSurgerySelector">Bariatric Surgery</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="inputInpatientResidentialTreatmentSelector" name="treatment"
        value="inpaitent" (click)="setradio('inputInpatientResidentialTreatmentSelector')"
        [formControlName]="'treatment'">
      <label class="custom-control-label" for="inputInpatientResidentialTreatmentSelector">Inpatient Residential
        Treatment</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="inputOtherServiceSelector" name="treatment"
        value="inputOtherServiceSelector" (click)="setradio('inputOtherServiceSelector')">
      <label class="custom-control-label" for="inputOtherServiceSelector">Other Services (MRI,CT,Consultation)</label>
    </div>
  </div>



  <div *ngIf="isSelected('inputCancerSelector')" novalidate>
    <br>
    <br>
    <!-- {{parentForm.status }} -->
    <app-patient-form [parentForm]="parentForm"></app-patient-form>
    <br>
    <br>
    <app-reffering-ontario-phys-form [parentForm]="parentForm"></app-reffering-ontario-phys-form>
    <br>
    <br>
    <app-proposedooc-form [parentForm]="parentForm"></app-proposedooc-form>
    <br>
    <br>
    <app-treatment-form [parentForm]="parentForm"></app-treatment-form>
    <br>
    <br>
    <app-cancer-form [parentForm]="parentForm"></app-cancer-form>
    <br>
    <br>
    <app-treatment-availability-form [parentForm]="parentForm"></app-treatment-availability-form>
    <br>








    <app-save-request (click)="onSaveClick()"></app-save-request>
  <app-submit-request  (click)="onSubmitClick()"></app-submit-request>
    
    


  </div>

  <div *ngIf="isSelected('inputInpatientResidentialTreatmentSelector')">
    <br>
    <br>
    <app-patient-form [parentForm]="parentForm"></app-patient-form>
    <br>
    <br>
    <app-reffering-ontario-phys-form [parentForm]="parentForm"></app-reffering-ontario-phys-form>
    <br>
    <br>
    <app-proposedooc-form [parentForm]="parentForm"></app-proposedooc-form>
    <br>
    <br>
    <app-treatment-form [parentForm]="parentForm"></app-treatment-form>
    <br>
    <br>
    <app-inpatient-residential-form [parentForm]="parentForm"></app-inpatient-residential-form>
    <br>
    <br>
    <app-treatment-availability-form [parentForm]="parentForm"></app-treatment-availability-form>
    <br>



    <app-save-request></app-save-request>
    <app-submit-request></app-submit-request>
  </div>

  <div *ngIf="isSelected('inputSurgicalSelector')">
    <br>
    <br>
    <app-patient-form [parentForm]="parentForm"></app-patient-form>
    <br>
    <br>
    <app-reffering-ontario-phys-form [parentForm]="parentForm"></app-reffering-ontario-phys-form>
    <br>
    <br>
    <app-proposedooc-form [parentForm]="parentForm"></app-proposedooc-form>
    <br>
    <br>
    <app-treatment-form [parentForm]="parentForm"></app-treatment-form>
    <br>
    <br>
    <app-surgical-procedure-form [parentForm]="parentForm"></app-surgical-procedure-form>
    <br>
    <br>
    <app-treatment-availability-form [parentForm]="parentForm"></app-treatment-availability-form>
    <br>



    <app-save-request></app-save-request>
    <app-submit-request></app-submit-request>
  </div>

  <div *ngIf="isSelected('inputBariatricSurgerySelector')">
    <br>
    <br>
    <app-patient-form [parentForm]="parentForm"></app-patient-form>
    <br>
    <br>
    <app-reffering-ontario-phys-form [parentForm]="parentForm"></app-reffering-ontario-phys-form>
    <br>
    <br>
    <app-proposedooc-form [parentForm]="parentForm"></app-proposedooc-form>
    <br>
    <br>
    <app-treatment-form [parentForm]="parentForm"></app-treatment-form>
    <br>
    <br>
    <app-bariatric-form [parentForm]="parentForm"></app-bariatric-form>
    <br>
    <br>
    <app-treatment-availability-form [parentForm]="parentForm"></app-treatment-availability-form>
    <br>



    <app-save-request></app-save-request>
    <app-submit-request></app-submit-request>
  </div>

  <div *ngIf="isSelected('inputOtherServiceSelector')">
    <div class="form-group col-md-6">
      <label for="otherServiceSpecification">Speicfy</label>
      <input type="text" class="form-control" id="otherServiceSpecification" [formControlName]="'treatment'">
    </div>
    <br>
    <br>
    <app-patient-form [parentForm]="parentForm"></app-patient-form>
    <br>
    <br>
    <app-reffering-ontario-phys-form [parentForm]="parentForm"></app-reffering-ontario-phys-form>
    <br>
    <br>
    <app-proposedooc-form [parentForm]="parentForm"></app-proposedooc-form>
    <br>
    <br>
    <app-treatment-form [parentForm]="parentForm"></app-treatment-form>
    <br>
    <br>
    <app-mri-form [parentForm]="parentForm"></app-mri-form>
    <br>
    <br>
    <app-treatment-availability-form [parentForm]="parentForm"></app-treatment-availability-form>
    <br>



    <app-save-request></app-save-request>
    <app-submit-request></app-submit-request>
  </div>


</form>