<h3 class="text-center">Patient</h3>


<div class="form-row" >

  <div class="form-group col-md-6"  [formGroup]="parentForm"  >
    <label for="lastName" >Last Name</label>
     <input type="text" class="form-control" id="lastName" placeholder="Last" [formControlName]="'lastNameControl'">
     
     <div class="error" [hidden]="parentForm.controls['lastNameControl'].valid">
            <p class="alert alert-danger"[hidden]="!parentForm.controls['lastNameControl'].touched"> Field Is Required.</p>
      </div>

</div>
  <div class="form-group col-md-4"  [formGroup]="parentForm">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" placeholder="First" [formControlName]="'firstNameControl'" >
    <div class="error" [hidden]="parentForm.controls['firstNameControl'].valid">
        <p class="alert alert-danger"[hidden]="!parentForm.controls['firstNameControl'].touched"> Field Is Required.</p>
  </div>
  </div>
  <div class="form-group col-md-1"  [formGroup]="parentForm">
    <label for="Intial">Intial</label>
    <input type="text" class="form-control" id="Intial" placeholder="I" maxlength="1"  [formControlName]="'intialControl'" style="text-transform: uppercase;">
    <div class="error" [hidden]="parentForm.controls['intialControl'].valid">
        <p class="alert alert-danger" [hidden]="!parentForm.controls['intialControl'].touched"> Field Is Required.</p>
  </div>
  </div>

</div>
<div class="form-row">
  <div class="form-group col-md-2"  [formGroup]="parentForm">
    <label for="dobInput">Date Of Birth</label>
    <input type="date" class="form-control" id="dobInput"  [formControlName]="'dobInput'">
    <div [hidden]="parentForm.controls['dobInput'].valid">
        <p class="alert alert-danger"[hidden]="!parentForm.controls['dobInput'].touched"> Field Is Required.</p>
  </div>
  </div>

  <div class="form-group col-md-2"  [formGroup]="parentForm">
    <label for="inputSex">Sex</label>
    <select id="inputSex" class="form-control"  [formControlName]="'inputSex'">
        <option value="" selected disabled hidden>Select</option>
      <option>Male</option>
      <option>Female</option>

    </select>
    <div [hidden]="parentForm.controls['inputSex'].valid">
        <p class="alert alert-danger"[hidden]="!parentForm.controls['inputSex'].touched"> Field Is Required.</p>
  </div>
  </div>
  <div class="form-group col-md-4"  [formGroup]="parentForm">
    <label for="healthNumber">Health Number</label>
    <input type="text" class="form-control" id="healthNumber" placeholder="#### ### ###" maxlength="10" [formControlName]="'healthNumber'">
    <div [hidden]="parentForm.controls['healthNumber'].valid">
        <p class="alert alert-danger"[hidden]="!parentForm.controls['healthNumber'].touched"> Field Is Required.</p>
  </div>
  </div>
  <div class="form-group col-md-2"  [formGroup]="parentForm">
    <label for="versionCode">Verion Code</label>
    <input type="text" class="form-control" id="versionCode" placeholder="XY" maxlength="2" [formControlName]="'versionCode'" style="text-transform: uppercase;"  >
    <div [hidden]="parentForm.controls['versionCode'].valid">
        <p class="alert alert-danger"[hidden]="!parentForm.controls['versionCode'].touched"> Field Is Required.</p>
  </div>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6"  [formGroup]="parentForm">
    <label for="inputCity">City</label>
    <input type="text" class="form-control" id="inputCity" placeholder="City" [formControlName]="'inputCity'">
    <div [hidden]="parentForm.controls['inputCity'].valid">
        <p class="alert alert-danger"[hidden]="!parentForm.controls['inputCity'].touched"> Field Is Required.</p>
  </div>
  </div>
  <div class="form-group col-md-4"  [formGroup]="parentForm">
    <label for="inputProvince">Province</label>
    <select id="inputProvince" class="form-control" [formControlName]="'inputProvince'">
        <option value="" selected disabled hidden>Select</option>
      <option>Ontario</option>
      <option>Quebec</option>

    </select>

    <div [hidden]="parentForm.controls['inputProvince'].valid">
        <p class="alert alert-danger"[hidden]="!parentForm.controls['inputProvince'].touched"> Field Is Required.</p>
  </div>
  </div>
  <div class="form-group col-md-2"  [formGroup]="parentForm">
    <label for="inputPostal">Postal</label>
    <input type="text" class="form-control" id="inputPostal" maxlength="7" placeholder="k1a0b1" [formControlName]="'inputPostal'"  style="text-transform: uppercase;">
    <div [hidden]="parentForm.controls['inputPostal'].valid">
        <p class="alert alert-danger"[hidden]="!parentForm.controls['inputPostal'].touched"> Field Is Required.</p>
  </div>
  </div>
 
</div>

<div class="form-row"  [formGroup]="parentForm">
  <div class="form-group col-md-4">
    <label for="inputHomePhone">Telephone Number (Home)</label>
    <input type="text" class="form-control" id="inputHomePhone" placeholder="##########" maxlength="10" [formControlName]="'inputHomePhone'">
    <div [hidden]="parentForm.controls['inputHomePhone'].valid">
        <p class="alert alert-danger"[hidden]="!parentForm.controls['inputHomePhone'].touched"> Phone Number Is Required ex: 1111111111</p>
  </div>
  </div>
  <div class="form-group col-md-4">
    <label for="inputDayPhone">Telephone Number (Business/Daytime)</label>
    <input type="tel" class="form-control" id="inputDayPhone" placeholder="##########" [formControlName]="'inputDayPhone'">
    <div [hidden]="parentForm.controls['inputDayPhone'].valid">
        <p class="alert alert-danger"[hidden]="!parentForm.controls['inputDayPhone'].touched"> Phone Number Is Required ex: 1111111111</p>
  </div>
  </div>
  <div class="form-group col-md-2">
    <label for="inputExtension">Extension</label>
    <input type="text" class="form-control" id="inputExtension" placeholder="#####" [formControlName]="'inputExtension'">
  </div>
</div>

<div class="form-row">

  <div class="form-group col-md-6"  [formGroup]="parentForm">
    <label for="guardianlastName">Parent/Legal Guardian's Last Name (if applicable)</label>
    <input type="text" class="form-control" id="guardianlastName" placeholder="Last" [formControlName]="'guardianlastName'">

  </div>
  <div class="form-group col-md-6"  [formGroup]="parentForm">
    <label for="guardianfirstName">Parent/Legal Guardian's First Name (if applicable)</label>
    <input type="text" class="form-control" id="guardianfirstName" placeholder="First" [formControlName]="'guardianfirstName'">
  </div>
</div>
<p> Indicate the relationship between the application and the person completing the form </p>
<div class="custom-control custom-radio custom-control-inline"  [formGroup]="parentForm">
  <input type="radio" class="custom-control-input" id="inputFormCompleteParentU16" name="formComplete"
    value="U16Guard" (click)="setradio('false')"  [formControlName]="'formComplete'">
  <label class="custom-control-label" for="inputFormCompleteParentU16">Parent of of child under 16 years of
    age</label>
</div>
<div class="custom-control custom-radio custom-control-inline"  [formGroup]="parentForm">
  <input type="radio" class="custom-control-input" id="inputFormLegalGuard" name="formComplete" value="LegalGuard"
    (click)="setradio('false')"  [formControlName]="'formComplete'">
  <label class="custom-control-label" for="inputFormLegalGuard">Legal Guardian</label>
</div>
<div class="custom-control custom-radio custom-control-inline"  [formGroup]="parentForm">
  <input type="radio" class="custom-control-input" id="inputFormAttorney" name="formComplete" value="Attorney"
    (click)="setradio('false')"  [formControlName]="'formComplete'">
  <label class="custom-control-label" for="inputFormAttorney">Attorney under power of attorney</label>
</div>
<div class="custom-control custom-radio custom-control-inline"  [formGroup]="parentForm">
  <input type="radio" class="custom-control-input" id="inputOtherComplete" name="formComplete"
     (click)="setradio('inputOtherComplete')"   >
  <label class="custom-control-label" for="inputOtherComplete">Other</label>

  
</div>


<br>
<div *ngIf="isSelected('inputOtherComplete')"  [formGroup]="parentForm">
  <div class="form-group col-md-6">
    <label for="inputOtherCompleteSpecification">Specify</label>
    <input type="text" class="form-control"  name="formComplete" id="inputOtherCompleteSpecification" placeholder="Other" [formControlName]="'formComplete'" >
  </div>
</div>

<div [hidden]="parentForm.controls['formComplete'].valid">
    <p class="alert alert-danger"[hidden]="!parentForm.controls['formComplete'].touched"> Field Is Required.</p>
</div>