/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

h3{
    background-color: #359ED0;
    padding:.5em;

}

input.ng-touched.ng-invalid {
    border-color:red;
    border-width: medium;


}

select.ng-touched.ng-invalid {
    border-color:red;
    border-width: medium;

}

.alert {
    text-align: center;   
    padding: 1%;
    margin:0;
    color:black;
 }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
