<h3 class="text-center">MRI (Magentic Resonance Imaging) Requested</h3>

<div class="form-row">
        <div class="form-group col-md-12" [formGroup]="parentForm">
          <label for="mriContrast">Contrast</label>
          <select id="mriContrast" class="form-control" name="MRIContract" [formControlName]="'mriContrast'">
            <option selected disabled>Choose...</option>
            <option>No Contrast</option>
            <option>With Contrast</option>
            <option>With and Without Contrast</option>
          </select>
        </div>
</div>
 <div>
     
 </div>
        <div class="form-row" [formGroup]="parentForm">
            
                <div class="custom-control custom-checkbox custom-control-inline" >
                    <input type="checkbox" class="custom-control-input" id="mriOpen" name="mriOpen"
                        value="Open"  [formControlName]="'mriOpen'">
                    <label class="custom-control-label" for="mriOpen">Open</label>
                </div>
                
            </div>
            <div class="form-group col-md-11" [formGroup]="parentForm">
                <label for="mriOpenInformation">Explain why and provide the following information</label>
                <input type="text" class="form-control" id="mriOpenInformation"
                    placeholder="Previously Requested/Obtained" [formControlName]="'mriOpenInformation'">
            </div>


<p> Patients Height:</p>
<div class="form-row">

    <div class="form-group col-md-6"  [formGroup]="parentForm">


        <input type="text" class="form-control" id="mriFt" placeholder="Ft"  [formControlName]="'mriFt'">
        <label for="mriFt">Ft</label>

    </div>
    <div class="form-group col-md-3" [formGroup]="parentForm">
        <input type="text" class="form-control" id="mriIn" placeholder="In" [formControlName]="'mriIn'">
        <label for="mriIn">In</label>
    </div>
    <div class="form-group col-md-3" [formGroup]="parentForm">

        <input type="text" class="form-control" id="mriCm" placeholder="CM" [formControlName]="'mriCm'">
        <label for="mriCm">CM</label>
    </div>


</div>

<p> Patients Weight:</p>
<div class="form-row" >
    <div class="form-group col-md-6" [formGroup]="parentForm">

        <input type="text" class="form-control" id="mriLb" placeholder="Lb" [formControlName]="'mriLb'">
        <label for="mriLb">Lb</label>
    </div>
    <div class="form-group col-md-6" [formGroup]="parentForm">

        <input type="text" class="form-control" id="mriKg" placeholder="Kg" [formControlName]="'mriKg'">
        <label for="mriKg">Kg</label>
    </div>
</div>

<p> Adnormal Girth:</p>
<div class="form-row" >
    <div class="form-group col-md-6" [formGroup]="parentForm">

        <input type="text" class="form-control" id="mriAdnormalIn" placeholder="In" [formControlName]="'mriAdnormalIn'">
        <label for="mriAdnormalIn">In</label>
    </div>
    <div class="form-group col-md-6" [formGroup]="parentForm">

        <input type="text" class="form-control" id="mriAdnormalCm" placeholder="Cm" [formControlName]="'mriAdnormalCm'">
        <label for="mriAdnormalCm">Cm</label>
    </div>
</div>