<footer id="sticky-footer" class="py-4">
    <div class="container text-center">
     <img src="./assets/img/logo.png" class="img-fluid mx-auto" alt="Goverment Of Ontario" style="width:7em;">
        <br>
      <small>This site is maintained by the Goverment Of Ontario, Canada.</small>
    </div>
  </footer>