<h3 class="text-center">Proposed OOC Health Facility/Hospital</h3>
<div class="form-row" [formGroup]="parentForm">
    <div class="form-group col-md-12">
        <label for="propFaculity">Facility (A preferred provider must be selected if a preferred provider arranagment
            has been established for the required service)</label>
        <input type="text" class="form-control" id="propFaculity" placeholder="Facility"
            [formControlName]="'propFaculity'">
        <div class="error" [hidden]="parentForm.controls['propFaculity'].valid">
            <p class="alert alert-danger" [hidden]="!parentForm.controls['propFaculity'].touched"> Field Is Required.
            </p>
        </div>
    </div>

</div>

<div class="form-row" [formGroup]="parentForm">
    <div class="form-group col-md-12">
        <label for="propAddress">Address (Street number and name, R.R.,P.O. Box, General delivery)</label>
        <input type="text" class="form-control" id="propAddress" placeholder="Address"
            [formControlName]="'propAddress'">
            <div class="error" [hidden]="parentForm.controls['propAddress'].valid">
                <p class="alert alert-danger" [hidden]="!parentForm.controls['propAddress'].touched"> Field Is Required.</p>
            </div>
    </div>

  
</div>

<div class="form-row" [formGroup]="parentForm">
    <div class="form-group col-md-4">
        <label for="propCity">City</label>
        <input type="text" class="form-control" id="propCity" placeholder="City" [formControlName]="'propCity'">
        <div class="error" [hidden]="parentForm.controls['propCity'].valid">
            <p class="alert alert-danger" [hidden]="!parentForm.controls['propCity'].touched"> Field Is Required.</p>
        </div>
    </div>

    <div class="form-group col-md-4">
        <label for="propStateCountry">State/Country</label>
        <input type="propStateCountry" class="form-control" id="propStateCountry" placeholder="State/Country"
            [formControlName]="'propStateCountry'">
        <div class="error" [hidden]="parentForm.controls['propStateCountry'].valid">
            <p class="alert alert-danger" [hidden]="!parentForm.controls['propStateCountry'].touched"> Field Is
                Required.</p>
        </div>
    </div>
    <div class="form-group col-md-4">
        <label for="propCode">Code</label>
        <input type="text" class="form-control" id="propCode" placeholder="Code" [formControlName]="'propCode'">
        <div class="error" [hidden]="parentForm.controls['propCode'].valid">
            <p class="alert alert-danger" [hidden]="!parentForm.controls['propCode'].touched"> Field Is Required.</p>
        </div>
    </div>

</div>

<p>Name of:</p>
<div class="form-row" [formGroup]="parentForm">
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="propOOC" name="propOOC" value="OOC Physcian"
            [formControlName]="'propOOC'">
        <label class="custom-control-label" for="propOOC">OOC Physcian</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="propContact" name="propOOC" value="Contact person"
            [formControlName]="'propOOC'">
        <label class="custom-control-label" for="propContact">Contact Person</label>
    </div>

    <div class="form-group col-md-4">
        <label for="propLastName">Last Name</label>
        <input type="text" class="form-control" id="propLastName" placeholder="Last" [formControlName]="'propLastName'">
        <div class="error" [hidden]="parentForm.controls['propLastName'].valid">
            <p class="alert alert-danger" [hidden]="!parentForm.controls['propLastName'].touched"> Field Is Required.
            </p>
        </div>
    </div>
    <div class="form-group col-md-4">
        <label for="propFirstName">First Name</label>
        <input type="text" class="form-control" id="propFirstName" placeholder="First"
            [formControlName]="'propFirstName'">
        <div class="error" [hidden]="parentForm.controls['propFirstName'].valid">
            <p class="alert alert-danger" [hidden]="!parentForm.controls['propFirstName'].touched"> Field Is Required.
            </p>
        </div>
    </div>

</div>

<div class="form-row">
    <div class="form-group col-md-4" [formGroup]="parentForm">
        <label for="propInputPhone">Telephone Number</label>
        <input type="tel" class="form-control" id="propInputPhone" placeholder="###-###-####"
            [formControlName]="'propInputPhone'">
        <div [hidden]="parentForm.controls['propInputPhone'].valid">
            <p class="alert alert-danger" [hidden]="!parentForm.controls['propInputPhone'].touched"> Phone Number Is
                Required ex: 1111111111</p>
        </div>
    </div>
    <div class="form-group col-md-2" [formGroup]="parentForm">
        <label for="propInputExtension">Extension</label>
        <input type="text" class="form-control" id="propInputExtension" placeholder="#####"
            [formControlName]="'propInputExtension'">
        <div class="error" [hidden]="parentForm.controls['propInputExtension'].valid">
            <p class="alert alert-danger" [hidden]="!parentForm.controls['propInputExtension'].touched"> Field Is
                Required.</p>
        </div>
    </div>
    <div class="form-group col-md-4" [formGroup]="parentForm">
        <label for="propInputFax">Fax Number</label>
        <input type="tel" class="form-control" id="propInputFax" placeholder="###-###-####"
            [formControlName]="'propInputFax'">
        <div [hidden]="parentForm.controls['propInputFax'].valid">
            <p class="alert alert-danger" [hidden]="!parentForm.controls['propInputFax'].touched"> Fax Number Is
                Required ex: 1111111111</p>
        </div>
    </div>

</div>

<div class="form-row">
    <div class="form-group col-md-12" [formGroup]="parentForm">
        <label for="propEmail">E-mail (optional)</label>
        <input type="email" class="form-control" id="propEmail" placeholder="email" [formControlName]="'propEmail'">
    </div>
</div>