<h3 class="text-center" >Reffering Ontario Physician</h3>


  <div class="form-row" [formGroup]="parentForm">

    <div class="form-group col-md-6">
      <label for="physLastName">Last Name</label>
      <input type="text" class="form-control" id="physLastName" placeholder="Last" [formControlName]="'physLastName'">

      <div [hidden]="parentForm.controls['physLastName'].valid">
          <p class="alert alert-danger"[hidden]="!parentForm.controls['physLastName'].touched"> Field Is Required.</p>
    </div>
    </div>
    <div class="form-group col-md-6">
      <label for="physFirstName">First Name</label>
      <input type="text" class="form-control" id="physFirstName" placeholder="First" [formControlName]="'physFirstName'">
      <div [hidden]="parentForm.controls['physFirstName'].valid">
          <p class="alert alert-danger"[hidden]="!parentForm.controls['physFirstName'].touched"> Field Is Required.</p>
    </div>
    </div>
  </div>

  <div class="form-row"  [formGroup]="parentForm">
    <div class="form-group col-md-4">
      <label for="physInputCity">City</label>
      <input type="text" class="form-control" id="physInputCity" placeholder="City"  [formControlName]="'physInputCity'">
      <div [hidden]="parentForm.controls['physInputCity'].valid">
          <p class="alert alert-danger"[hidden]="!parentForm.controls['physInputCity'].touched"> Field Is Required.</p>
    </div>
    </div>
    <div class="form-group col-md-3">
      <label for="physInputProvince">Province</label>
      <select id="physInputProvince" class="form-control" [formControlName]="'physInputProvince'">
        <option value="" selected disabled hidden>Select</option>
        <option>Ontario</option>
        <option>Quebec</option>

      </select>
      <div [hidden]="parentForm.controls['physInputProvince'].valid">
          <p class="alert alert-danger"[hidden]="!parentForm.controls['physInputProvince'].touched"> Field Is Required.</p>
    </div>
    </div>
    <div class="form-group col-md-2">
      <label for="physInputPostal">Postal</label>
      <input type="text" class="form-control" id="physInputPostal" maxlength="7" placeholder="Postal" [formControlName]="'physInputPostal'">
      <div [hidden]="parentForm.controls['physInputPostal'].valid">
          <p class="alert alert-danger"[hidden]="!parentForm.controls['physInputPostal'].touched"> Field Is Required.</p>
    </div>
    </div>
    <div class="form-group col-md-3">
      <label for="physProviderBillingNumber">Provider Billing Number</label>
      <input type="text" class="form-control" id="physProviderBillingNumber" placeholder="######" maxlength="6" [formControlName]="'physProviderBillingNumber'">
      <div [hidden]="parentForm.controls['physProviderBillingNumber'].valid">
          <p class="alert alert-danger"[hidden]="!parentForm.controls['physProviderBillingNumber'].touched"> Field Is Required.</p>
    </div>
    </div>
  </div>

  <div class="form-row">
      <div class="form-group col-md-4" [formGroup]="parentForm">
        <label for="physInputPhone">Telephone Number</label>
        <input type="text" class="form-control" id="physInputPhone" placeholder="###-###-####" [formControlName]="'physInputPhone'">
        <div [hidden]="parentForm.controls['physInputPhone'].valid">
            <p class="alert alert-danger"[hidden]="!parentForm.controls['physInputPhone'].touched"> Phone Number Is Required ex: 1111111111</p>
      </div>
      </div>
      <div class="form-group col-md-2" [formGroup]="parentForm">
        <label for="inputExtension">Extension</label>
        <input type="text" class="form-control" id="inputExtension"  placeholder="#####" [formControlName]="'physInputExtension'">
        <div [hidden]="parentForm.controls['physInputExtension'].valid">
            <p class="alert alert-danger"[hidden]="!parentForm.controls['physInputExtension'].touched"> Field Is Required</p>
      </div>
      </div>
      <div class="form-group col-md-4" [formGroup]="parentForm">
          <label for="physInputFax">Fax Number</label>
          <input type="tel" class="form-control" id="physInputFax" placeholder="###-###-####" [formControlName]="'physInputFax'">
          <div [hidden]="parentForm.controls['physInputFax'].valid">
              <p class="alert alert-danger"[hidden]="!parentForm.controls['physInputFax'].touched"> Fax Number Is Required ex: 1111111111</p>
        </div>
        </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-12" [formGroup]="parentForm">
        <label for="physEmail">E-mail (optional)</label>
        <input type="email" class="form-control" id="physEmail" placeholder="email" [formControlName]="'physEmail'">
      </div>
    </div>