<h3 class="text-center">Inpatient Residential Treatment Requested</h3>

<div class="form-row">
    <div class="form-group col-md-12" [formGroup]="parentForm">
        <label for="inpatientSubstanceMentalHealth"> If this request is for substance abuse or mental health treatment,
            provide the name of the refferal agent contacted at ConnexOntario's Drug and Alcohol Registry of Treatment
            (DART), 1 800 565-8603</label>
        <input type="text" class="form-control-file" id="inpatientSubstanceMentalHealth"
            placeholder="name of the refferal agent" [formControlName]="'inpatientSubstanceMentalHealth'">
    </div>

    <div class="form-row">
        <div class="form-group col-md-12" [formGroup]="parentForm">
            <label for="inpatientEating"> If this request is for treatment of an eating disorder, provide the name of
                the referral agent contacted at ConnexOntario's Mental Health Service Information. 1 866 531-2600 or the
                Provincial Network of Eating Disorder Service Providers in Ontario.</label>
            <input type="text" class="form-control" id="inpatientEating" placeholder="name of the refferal agent"
                [formControlName]="'inpatientEating'">
        </div>

        <div class="form-row">
            <div class="form-group col-md-12" [formGroup]="parentForm">
                <label for="inpatientConsulted"> Names of all other Ontario physicains (including specialists) consulted
                    in the
                    past 6-12 months concerning this condition listed above (attach list if necessary). Please attach
                    copies
                    of all relevant documentation and consultation letters.</label>
                <input type="text" class="form-control" id="inpatientConsulted"
                    placeholder="Names of all other Ontario physicains (including specialists)"
                    [formControlName]="'inpatientConsulted'">
                <input type="file" class="form-control-file" id="inpatientConsultedFiles"
                    [formControlName]="'inpatientConsultedFiles'">
            </div>