<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
     

        <div class="form-row"> 
              
                <div class="form-group col-md-12" [formGroup]="searchForm">
                                <div class="form-group col-md-12"  >                                            
                                
                                        
                                              <mat-accordion>
                                                    <div *ngIf="myResults == null">
                                                        <mat-progress-spinner
                                                        *ngIf="saveClicked == true"
                                                        mode="indeterminate"
                                                        color="blue"                                                    
                                                      >
                                                      </mat-progress-spinner>
                                                         </div>
                                                        <mat-expansion-panel *ngFor="let result of myResults">
                                                          <mat-expansion-panel-header>
                                                            <mat-panel-title>
                                                              <p>  {{result.id}} </p>
                                                            </mat-panel-title>
                                                            <mat-panel-description>
                                                                        {{result.created_timestamp | date:'fullDate'}}
                                                            </mat-panel-description>
                                                          </mat-expansion-panel-header>
                                                      
                                                          <p><span> Date Of Birth: </span>{{result.date_of_birth | date:'M-dd-yyyy'}}</p>
                                                      
                                                          <p><span> First Name: </span> {{result.first_name}}</p>

                                                          <p><span> Last Name: </span> {{result.last_name}}</p>
                                                          <p><span> Gender: </span> {{result.gender}}</p>
                                                          <p><span> Phone: </span> {{result.phone}}</p>

                                                         
                                                          <button type="button" class="btn btn-secondary">
                                                                        <span class="fa fa-edit"></span> Edit
                                                                      </button>
                                                        </mat-expansion-panel>
                                                     
                                         </mat-accordion>

                        </div>
                     
                </div>

        </div>

       
</form>

