<h3 class="text-center">Surgical Procedure Requested</h3>
<div class="form-row">
    <div class="form-group col-md-12" [formGroup]="parentForm">
        <label for="surgicalConsulted"> Names of all other Ontario physicains (including specialists) consulted in the
            past 6-12 months concerning this condition listed above (attach list if necessary). Please attach copies
            of all relevant documentation and consultation letters.</label>
        <input type="text" class="form-control" id="surgicalConsulted"
            placeholder="Names of all other Ontario physicains (including specialists)"
            [formControlName]="'surgicalConsulted'">
        <input type="file" class="form-control-file" id="surgicalConsultedFile"
            [formControlName]="'surgicalConsultedFile'">
    </div>